@model IEnumerable<Kuku.Models.Recipe>

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log off" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}

<a asp-action="CreateRecipe">Create new recipe</a>


<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <h2>Filter</h2>
        <ul>
            <li>Here we are working on a filter</li>
        </ul>
        @*@Html.CheckBoxFor(r => r.Enable, false)*@
        @*<input id="Enable" name="Enable" type="checkbox" value="true">
            <span>filter 1</span> <br />
            <input name="Enable" type="hidden" value="false">
            <span>filter 2</span> <br />*@
    </div>
    <div class="col-md-6">
        <h2>Recipes</h2>
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="DetailsRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">@item.RecipeName</a>
                    </td>
                    <td>@item.CreatedDate</td>
                </tr>
                <tr>
                    <td>
                        @if (item.PreviewImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PreviewImageData))" />
                        }
                    </td>
                    <td>
                        @item.Description
                        <a asp-action="EditRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Edit</a>
                        <a asp-action="DeleteRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Delete</a>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-2">
        <h2>Google AdSense</h2>
        <ul>
            <li><a href="https://support.google.com/adsense#topic=1250106">Mediapartner</a></li>
        </ul>
    </div>
</div>
