@model Kuku.ViewModels.ProductsListViewModel

@{
    ViewBag.Title = "Add product";
}

<h2>Products catalog</h2>

<form method="get">
    <div class="form-inline form-group">
        <label class="control-label">Product: </label>
        @Html.TextBox("name", Model.Name, htmlAttributes: new { @class = "form-control" })

        <label class="control-label">Product type: </label>
        @Html.DropDownList("productType", Model.ProductTypes as SelectList,
                htmlAttributes: new { @class = "form-control" })

        <input type="submit" value="Filtr" class="btn btn-default" />
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Product id</th>
        <th>Product name</th>
        <th>Product type</th>
        <th>Add this product</th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductType.ProductTypeName)
            </td>
            <td>
                <a asp-action="AddProduct" asp-controller="Home" asp-route-id="@item.ProductId">Add</a>
            </td>
        </tr>
    }
</table>