@using Kuku.ViewModels
@model RecipeViewModel

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log off" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}

@{
    ViewBag.Title = Model.Recipes.RecipeName;
}
<h2>Recipe @Model.Recipes.RecipeName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>id: </dt>
        <dd>@Model.Recipes.RecipeId</dd>
        <dt>name: </dt>
        <dd>@Model.Recipes.RecipeName</dd>
        <dt>description:</dt>
        <dd>@Model.Recipes.Description</dd>
        <dt>created date:</dt>
        <dd>@Model.Recipes.CreatedDate</dd>
        <dt>big image</dt>
        <dd>
            @if (Model.Recipes.BigImageData != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Recipes.BigImageData))" />
            }
        </dd>
        <dt>user id:</dt>
        <dd>@Model.Recipes.UserId</dd>
    </dl>
</div>

<div class="display-label"><b>Composition of the dish</b></div>
<ul>
    @foreach (Recipe_Product c in Model.Recipe_Products)
    {
        <li>@c.RecipeId</li>
        <li>@c.ProductId</li>
        <li>@c.Product.ProductName</li>
    }
</ul>

<div class="display-label"><b>Recipe details</b></div>
<ul>
    @foreach (RecipeDetail c in Model.RecipesDetails)
    {
        <li>@c.RecipeDetailId</li>
        <li>@c.Description</li>
        <li>@c.CreatedDate</li>
        <li>@c.RecipeId</li>
        <li><img src="data:image/jpeg;base64,@(Convert.ToBase64String(c.PreviewImageData))" /></li>
    }
</ul>
<a asp-controller="Home" asp-action="CreateRecipeDetail" asp-route-id="@Model.Recipes.RecipeId">Add recipe detail</a> |
<a asp-controller="Home" asp-action="SelectProduct" asp-route-recipeid="@Model.Recipes.RecipeId">Select product for this recipe @Model.Recipes.RecipeId</a> |
<a asp-controller="Home" asp-action="SelectTypeOfDish" asp-route-recipeid="@Model.Recipes.RecipeId">Select type of dish for this recipe @Model.Recipes.RecipeId</a> |
<a asp-controller="Home" asp-action="SelectNationalCuisine" asp-route-recipeid="@Model.Recipes.RecipeId">Select national cuisine for this recipe @Model.Recipes.RecipeId</a> |
@*?name=&productType=0*@