@using Kuku.ViewModels
@model RecipeViewModel

@{
    ViewBag.Title = Model.Recipes.RecipeName;
}
<h2>Product @Model.Recipes.RecipeName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>id: </dt>
        <dd>@Model.Recipes.RecipeId</dd>
        <dt>name: </dt>
        <dd>@Model.Recipes.RecipeName</dd>
        <dt>description:</dt>
        <dd>@Model.Recipes.Description</dd>
        <dt>created date:</dt>
        <dd>@Model.Recipes.CreatedDate</dd>
        <dt>preview image</dt>
        <dd>
            @if (Model.Recipes.PreviewImageData != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Recipes.PreviewImageData))" />
            }
        </dd>
        <dt>big image</dt>
        <dd>
            @if (Model.Recipes.BigImageData != null)
            {
                <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Recipes.BigImageData))" />
            }
        </dd>
        <dt>user id:</dt>
        <dd>@Model.Recipes.UserId</dd>
    </dl>
</div>


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log off" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}

<div class="display-label"><b>Recipe details</b></div>
<ul>
    @foreach (RecipeDetails c in Model.RecipesDetails)
    {
        <li>@c.RecipeDetailsId</li>
        <li>@c.Description</li>
        <li>@c.CreatedDate</li>
        <li>@c.RecipeId</li>
    }
</ul>
<a asp-action="CreateRecipeDetails" asp-controller="Home" asp-route-id="@Model.Recipes.RecipeId">Add recipe details</a> |
<a asp-action="AddNationalCuisine" asp-controller="Home" asp-route-id="@Model.Recipes.RecipeId">Add national cuisine</a> |
<a asp-action="AddTypeOfDish" asp-controller="Home" asp-route-id="@Model.Recipes.RecipeId">Add type of dish</a> |
<a asp-action="SelectProduct" asp-controller="Home" asp-route-recipeid="@Model.Recipes.RecipeId">Add product</a> |
@*?name=&productType=0*@