@model Kuku.ViewModels.FilterViewModel
@*@model IEnumerable<Kuku.Models.Recipe>*@

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@*@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Recipe" asp-action="CreateRecipe">Create new recipe</a>
}*@

<div class="row">
    <div class="col-md-2">
        <h3>Filter:</h3>
        <div class="panel-group">
            <h5 class="panel-title">Popular products:</h5>
            <div class="list-group">
                @foreach (var item in Model.TopFilterProduct)
                {
                    <a href="@item.itemLink" title="@item.itemName" class="list-group-item @item.itemChecked">
                        @item.itemName
                        <span class="badge">@item.itemCount</span>
                    </a>
                }
            </div>
        </div>
        <div class="panel-group">
            @foreach (var filter in Model.Recipe_Filters)
            {
                <div class="panel">
                    <div class="heading">
                        <h5 class="title">
                            @filter.itemType:
                            <button type="button" class="btn btn-xs" data-toggle="collapse" data-target="#@filter.itemMD5">
                                <span class="caret"></span>
                            </button>
                        </h5>
                    </div>
                    <div id="@filter.itemMD5" class="collapse @filter.itemClass">
                        <div class="list-group">
                            @foreach (var item in filter.items)
                            {
                                <a href="@item.itemLink" title="@item.itemName" class="list-group-item @item.itemChecked">
                                    @item.itemName
                                    <span class="badge">@item.itemCount</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-8">
        <h2>Recipes (@Model.Recipes.Count())</h2>
        <table class="table">
            @foreach (var item in Model.Recipes)
            {
                <tr>
                    <td><a asp-action="DetailsRecipe" asp-controller="Home" asp-route-id="@item.RecipeId">@item.RecipeName</a></td>
                    <td>@item.CreatedDate.ToString("yyyy MM dd")</td>
                </tr>
                <tr>
                    <td>
                        @if (item.PreviewImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PreviewImageData))" />
                        }
                    </td>
                    <td>
                        @item.Description
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*<a asp-action="EditRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Edit</a>*@
                            <a asp-action="DeleteRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-2">
        <h2>Google AdSense</h2>
        <ul>
            <li><a href="https://support.google.com/adsense#topic=1250106">Mediapartner</a></li>
        </ul>
    </div>
</div>
