@model IEnumerable<Kuku.Models.Recipe>

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log off" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}

<a asp-action="CreateRecipe">Add recipe</a>
<table class="table">
    <tr><td>id</td><td>name</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Recipeid</td>
            <td>@item.Name</td>
            <td>
                <a asp-action="DetailsProduct" asp-controller="Home" asp-route-id="@item.Recipeid">Details</a> |
                <a asp-action="EditProduct" asp-controller="Home" asp-route-id="@item.Recipeid">Edit</a> |
                <a asp-action="DeleteProduct" asp-controller="Home" asp-route-id="@item.Recipeid">Delete</a> |
            </td>
        </tr>
    }
</table>
