@model Kuku.ViewModels.FilterViewModel
@*@model IEnumerable<Kuku.Models.Recipe>*@

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@*@if (User.Identity.IsAuthenticated)
{
    <a asp-controller="Recipe" asp-action="CreateRecipe">Create new recipe</a>
}*@

<div class="row">
    <div class="col-md-2">
        <h2>Filter</h2>
        <ul>
            <li>Here we are working on a filter</li>
        </ul>
        <label>product:</label><br />
        <table class="table">
            @foreach (var item in Model.Products)
            {
            <tr>
                <td><input type="checkbox" name="@item.ProductName" value="true" /></td>
                <td><div class="display-label"><b>@item.ProductName</b></div></td>
                <td>(@item.ProductId)</td>
            </tr>
            }
        </table>
        <label>national cuisine:</label><br />
        <table class="table">
            @foreach (var item in Model.NationalCuisines)
            {
                <tr>
                    <td><input type="checkbox" name="@item.NationalCuisineName" value="true" /></td>
                    <td><div class="display-label"><b>@item.NationalCuisineName</b></div></td>
                    <td>(@item.NationalCuisineId)</td>
                </tr>
            }
        </table>
        <label>type of dish:</label><br />
        <table class="table">
            @foreach (var item in Model.TypeOfDishes)
            {
                <tr>
                    <td><input type="checkbox" name="@item.TypeOfDishName" value="true" /></td>
                    <td><div class="display-label"><b>@item.TypeOfDishName</b></div></td>
                    <td>(@item.TypeOfDishId)</td>
                </tr>
            }
        </table>
        @*@using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {

                <table>
                    @for (int idx = 0; idx < Model.Products.Count; idx++)
                    {
                        <tr>
                            <td>
                                @Html.HiddenFor(x => Model.Products[idx].ProductId)
                                @Html.CheckBoxFor(x => Model.Products[idx].ProductId)
                                @Html.DisplayFor(x => Model.Products[idx].ProductName)
                                @Html.HiddenFor(x => Model.hobbies[idx].HobbiesName)
                            </td>
                        </tr>
                    }
                </table>
                <button type="submit" id="btnSave">Save</button>
            }*@
        @*@foreach (var model in Kuku.Models.Recipe)
            {
                <td>
                    @Html.CheckBoxFor(model => true, item.TemplateId)
                    @Html.LabelFor(model => item.TemplateName)
                </td>
            }*@
        @*@Html.CheckBoxFor(r => r.Enable, false)*@
        @*<input id="Enable" name="Enable" type="checkbox" value="true">
            <span>filter 1</span> <br />
            <input name="Enable" type="hidden" value="false">
            <span>filter 2</span> <br />*@
    </div>
    <div class="col-md-8">
        <h2>Recipes</h2>
        <table class="table">
            @foreach (var item in Model.Recipes)
            {
                <tr>
                    <td><a asp-action="DetailsRecipe" asp-controller="Home" asp-route-id="@item.RecipeId">@item.RecipeName</a></td>
                    <td>@item.CreatedDate.ToString("yyyy MM dd")</td>
                </tr>
                <tr>
                    <td>
                        @if (item.PreviewImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PreviewImageData))" />
                        }
                    </td>
                    <td>
                        @item.Description
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-action="EditRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Edit</a>
                            <a asp-action="DeleteRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-2">
        <h2>Google AdSense</h2>
        <ul>
            <li><a href="https://support.google.com/adsense#topic=1250106">Mediapartner</a></li>
        </ul>
    </div>
</div>
