@model Kuku.ViewModels.FilterViewModel

@*@model IEnumerable<Kuku.Models.Recipe>*@

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@*@if (User.Identity.IsAuthenticated)
    {
        <a asp-controller="Recipe" asp-action="CreateRecipe">Create new recipe</a>
    }*@

<div class="row">
    <div class="col-xs-2">
        <h3>Filter:</h3>
        <div class="panel top-filter-product">
            <h5 class="panel-title">Popular products:</h5>
            <div class="list-group">
                @foreach (var item in Model.TopFilterProduct)
                {
                    <a href="@item.itemLink" title="@item.itemName" class="list-group-item @item.itemChecked">
                        @item.itemName
                        <span class="badge">@item.itemCount</span>
                    </a>
                }
            </div>
        </div>
        <div class="panel-group">
            @foreach (var filter in Model.Recipe_Filters)
            {
                <div class="panel filter-product">
                    @if (filter.itemsCount > 3)
                    {
                        <h6 class="panel-title btn" data-toggle="collapse" data-target="#@filter.itemMD5" title="@filter.itemType">
                            @filter.itemType:
                            <span class="caret"></span>
                        </h6>
                    }
                    else
                    {
                        <h6 class="panel-title" data-target="#@filter.itemMD5" title="@filter.itemType">
                            @filter.itemType:
                        </h6>

                    }
                    <div id="@filter.itemMD5" class="panel-collapse collapse @filter.itemClass">
                        <div class="list-group">
                            @foreach (var item in filter.items)
                            {
                                <a href="@item.itemLink" title="@item.itemName" class="list-group-item @item.itemChecked">
                                    @item.itemName
                                    <span class="badge">@item.itemCount</span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-xs-8">
        <h2>Recipes (@Model.PageInfo.TotalItems)</h2>
        <div class="btn-group">
            <!-- pager -->
            @if (Model.PageInfo.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.PageInfo.CurrentPage > 1)
                    {
                        <li>
                            <a href="@Model.PageInfo.urlFirst">First</a>
                        </li>
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.PageInfo.StartPage; page <= Model.PageInfo.EndPage; page++)
                    {
                        <li class="@(page == Model.PageInfo.CurrentPage ? "active" : "")">
                            <a href="@(page == 1 ? Model.PageInfo.urlFirst : (Model.PageInfo.urlPage + page))">@(page)</a>
                        </li>
                    }

                    @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages)
                    {
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
        <table class="table">
            @foreach (var item in Model.Recipes)
            {
                <tr>
                    <td><a asp-action="DetailsRecipe" asp-controller="Home" asp-route-id="@item.RecipeId">@item.RecipeName</a></td>
                    <td>@item.CreatedDate.ToString("yyyy MM dd")</td>
                </tr>
                <tr>
                    <td>
                        @if (item.PreviewImageData != null)
                        {
                            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PreviewImageData))" />
                        }
                    </td>
                    <td>
                        @item.Description
                        @if (User.Identity.IsAuthenticated)
                        {
                            @*<a asp-action="EditRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Edit</a>*@
                            <a asp-action="DeleteRecipe" asp-controller="Recipe" asp-route-id="@item.RecipeId">Delete</a>
                        }
                    </td>
                </tr>
            }
        </table>
        <div class="btn-group">
            <!-- pager -->
            @if (Model.PageInfo.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.PageInfo.CurrentPage > 1)
                    {
                        <li>
                            <a href="@Model.PageInfo.urlFirst">First</a>
                        </li>
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.CurrentPage - 1)">Previous</a>
                        </li>
                    }

                    @for (var page = Model.PageInfo.StartPage; page <= Model.PageInfo.EndPage; page++)
                    {
                        <li class="@(page == Model.PageInfo.CurrentPage ? "active" : "")">
                            <a href="@(page == 1 ? Model.PageInfo.urlFirst : (Model.PageInfo.urlPage + page))">@(page)</a>
                        </li>
                    }

                    @if (Model.PageInfo.CurrentPage < Model.PageInfo.TotalPages)
                    {
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.CurrentPage + 1)">Next</a>
                        </li>
                        <li>
                            <a href="@Model.PageInfo.urlPage@(Model.PageInfo.TotalPages)">Last</a>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>
    <div class="col-xs-2">
        <h2>Google AdSense</h2>
        <ul>
            <li><a href="https://support.google.com/adsense#topic=1250106">Mediapartner</a></li>
        </ul>
    </div>
</div>
