@model IEnumerable<Kuku.Models.NationalityCuisine>
@{
    ViewData["Title"] = "NationalityCuisines";
}

<a asp-action="CreateNationalityCuisine">Add nationality cuisine</a>
<table class="table">
    <tr><td>id</td><td>name</td></tr>
    @foreach (var item in Model)
    {
    <tr>
        <td>@item.NationalityCuisineId</td>
        <td>@item.NationalityCuisineName</td>
        <td>
            <a asp-action="DetailsNationalityCuisine" asp-controller="Home" asp-route-id="@item.NationalityCuisineId">Details</a> |
            <a asp-action="EditNationalityCuisine" asp-controller="Home" asp-route-id="@item.NationalityCuisineId">Edit</a> |
            <a asp-action="DeleteNationalityCuisine" asp-controller="Home" asp-route-id="@item.NationalityCuisineId">Delete</a>
        </td>
    </tr>
    }
</table>

