@model IEnumerable<Kuku.Models.RecipeDetails>

@{
    ViewData["Title"] = "Welcome to the Recipe base";
}

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Log off" />
    </form>
}
else
{
    <a asp-controller="Account" asp-action="Login">Login</a>
    <a asp-controller="Account" asp-action="Register">Registration</a>
}

<a asp-action="CreateRecipe">Create recipe</a>

<table class="table">
    <tr>><td>Id</td><td>Recipe id</td><td>Description</td><td>CreatedDate</td><td>BigImageData</td><td>PreviewImageData</td></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.RecipeDetailsId</td>
            <td>@item.RecipeId</td>
            <td>@item.Description</td>
            <td>@item.CreatedDate</td>
            <td>
                @if (item.BigImageData != null)
                {
                    <img style='width:320px; height:240px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.BigImageData))" />
                }
            </td>
            <td>
                @if (item.PreviewImageData != null)
                {
                    <img style='width:320px; height:240px;' src="data:image/jpeg;base64,@(Convert.ToBase64String(item.PreviewImageData))" />
                }
                <a asp-action="DetailsRecipeDetails" asp-controller="Home" asp-route-id="@item.RecipeDetailsId">Details</a> |
                <a asp-action="EditRecipeDetails" asp-controller="Home" asp-route-id="@item.RecipeDetailsId">Edit</a> |
                <a asp-action="DeleteRecipeDetails" asp-controller="Home" asp-route-id="@item.RecipeDetailsId">Delete</a> |
            </td>
        </tr>
    }
</table>
